@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    background: #060606;
    min-height: 100vh;
}


/* Begin van header */

.nav-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 15%);
}

.logo {
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    font-weight: 700;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
}

.exit {
    padding: 5px;
    background: rgba(255, 255, 255, 15%);
    border: none;
    font-weight: 700;
    cursor: pointer;
    color: inherit;
    border-radius: 10px;
}

/* Begin van main */

main {
    flex: 1;
}

.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #0f172a;
}

.flipbook {
    display: flex;
    width: 800px;
    height: 550px;
    text-align: center;
}

.flipbook .hard {
    background: linear-gradient(135deg, #1a2540, #0f172a) !important;
    color: #f1f5f9;
    font-weight: 700;
    border: 5px solid #334155;
    border-radius: 6px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7),
    inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.flipbook .hard small {
    font-style: italic;
    font-weight: lighter;
    opacity: 0.7;
    font-size: 14px;
}

.flipbook .page {
    background: #f6eee3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
}

.page img {
    width: 70%;
    object-fit: cover;
    margin: auto;
}

.flipbook .page small {
    font-size: 14px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 8rem;
    padding-right: 8rem;
}

.content-box {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.panel:nth-child(odd) .content-img {
    border-right: 1px solid rgba(255, 255, 255, 15%);
}

.panel:nth-child(even) .content-img {
    border-left: 1px solid rgba(255, 255, 255, 15%);
}

.content-img {
    padding: 0 20px;
    display: flex;
    align-items: center;
    max-width: 500px;
}

.content-img img {
    width: 100%;
    height: auto;
    max-height: 225px;
    object-fit: cover;
    border-radius: 6px;
    padding: 0 50px;
}

.my-foto {
    rotate: 270deg;
}

.content-article {
    flex: 1;
    max-width: 500px;
}

.panel {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.75rem;
    border: 1px solid transparent;
    transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease;
    margin: 30px 0;
}

.panel:hover {
    border-color: #1e40af;
}

.panel.flex {
    display: flex;
}

.panel .flex-1 {
    flex: 1 1 0%;
}


.p-4 {
    padding: 1rem;
}

.bg-white\/5 {
    background-color: rgba(255, 255, 255, 0.05);
}


.rounded-xl {
    border-radius: 0.75rem;
}

.border {
    border-style: solid;
    border-width: 1px;
}

.border-transparent {
    border-color: transparent;
}


.hover\:border-blue-800:hover {
    border-color: #1e40af;
}


.group:hover .group-hover\:text-blue-800 {
    color: #1e40af;
}


.transition-colors {
    transition-property: color, background-color, border-color, fill, stroke;
}

.duration-300 {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}


.hover\:border-blue-800 {
    transition: border-color 300ms ease;
}

.hover\:border-blue-800:hover {
    border-color: #1e40af;
}

/* Begin Footer */

footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 15%);
}
